body{
  display: grid;
  grid-template: 64px auto auto auto 135.5px / 2fr 3fr 3fr 2fr;
}
/* Grid har 5 rader och 4 kolumner.*/

nav{
  grid-area: 1 / 1 / 2 / -1;
  align-self: center;
}
/* <nav> ligger på första raden och sträcker sig till hela hemsidans bredd. Align-self gör att knapparna i <nav> centreras lodrätt.*/

#logo{
  grid-area: 2 / 2 / 3 / 4;
  justify-self: center;
  margin: 5%;
  width: 70%;
  min-width: 400px;
}
/* Titeln ligger på rad 2 och kolumner 2-3. Justify-self centrerar bilden vågrätt margin är 5% så att den är responsiv. Den tar inte hela bredden men får inte vara mindre än 400px.*/

figure{
  grid-area: 3 / 1 / 4 / -1;
  align-self: center;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 2%;
}
/* Bilderna ligger på rad 3 och sträcker sig längs hela bredden av hemsidan. Align-self centrerar bilderna lodrätt och de har 45px mellanrum från vänstra- och högra kanter. Margin på botten är 2% som gör den responsiv.*/

#section{
  grid-area: 4 / 1 / 5 / -1;
}
/* Huvudtexten ligger på rad 4 och sträcker sig längs hela bredden.*/

article{
  margin-left: 20%;
  margin-right: 20%;
}
/* Texten har 20% mellanrum från hemsidans kanter. Ifall jag skulle göra det i grid skulle jag behöva ta bort <section> och det skulle vara svårt för att jag har citater emellan som måste placeras annorlunda.*/

aside{
  margin-bottom: 40px;
  margin-right: 20%;
  margin-left: 5%;
}
/* Citater har 40px mellanrum på botten som hjälper separera citaten från texten efter. Den har samma margin på högra sidan som vanliga texten som gör att de slutar på samma ställe. Den har även en liten responsiv margin till vänster.*/

#toppen{
  grid-area: 5 / 1 / 6 / -1;
  z-index: 5;
  margin-top: 8px;
  justify-self: center;
}
/* Knappen "Till toppen" ligger på samma plats som footer. Z-index gör att knappen ligger över footer, den har en liten margin från högra kanten och är cenrerad.*/

footer{
  grid-area: 5 / 1 / 6 / -1;
  align-self: center;
}
/* Footer ligger på rad 5 och sträcker sig längs hela bredden. Align-self centrerar texten lodrätt. Jag vill centrera knappen men inte texten i footer, så därför var det lättare att placera knappen om den inte var inuti footer.*/

#ommig{
  float: right;
  margin-right: 40px;
}
/* "Om Mig" knappen flyttas längst till höger med 40px avstånd från kanten. */

#se{
  float: left;
  position: absolute;
  margin-left: 40px;
}
/* "Se Breaking Bad" knappen ligger längst till vänster med 40px avstånd från kanten. Position: absolute gör att när padding ökar när man har musen över knappen, flyttas inte hela <nav> med den.*/

li{
  margin-top: 3px;
}
/* Länkarna har en liten mellanrum på toppen så att den syns inte innan man drar musen över den och så att man ser tydligare länkarnas knapparnas kanter.*/

.underrubrik{
  margin-left: 20px;
}
/* <h3> och dess text har extra margin till vänster som separerar den från vanliga rubriker.*/

@media only screen and (max-width: 630px){
  figure img{
    height: 200px;
  }
/* När man besöker hemsidan med bredden på skärmen mindre än 630px, ändras bildernas höjd till 200px istället för 250px.*/

  figure img:hover{
    height: 230px;
    width: auto;
  }
/* När man har musen över bilderna, blir höjden på bilderna 230px.*/

  figure{
    height: 230px;
  }
/* På en mindre skärm, blir hela <figure>'s höjd 230px som minskar mellanrum mellan bilderna och texten.*/

  article{
    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
  }
/* Textens storlek och margin minskas, som gör att mer text får plats på en rad. Detta gör att sidan blir inte extremt lång.*/

  aside{
    font-size: 13px;
    margin-right: 10%;
  }
/* Citaterna slutar fortfarande på samma ställe som huvudtexten och har ännu mindre storlek.*/

  #ommig{
    margin-right: 20px;
  }
/* Knappen "Om mig" minskar sitt avstånd till kanten.*/

  #se{
    margin-left: 20px;
  }
/* Knappen "Se Breaking Bad" minskar sitt avstånd till kanten.*/
}

@media only screen and (max-width: 500px){
  figure img:hover{
    height: 200px;
  }
/* På en ännu mindre skärm förlorar bilder sina förhållanden när de zoomas in och eftersom mindre skärmar är vanligtvist mobiltelefoner som gör att :hover är svår att aktivera, tog jag inzoomningen bort.*/

  figure{
    margin-left: 20px;
    margin-right: 20px;
  }
/* När man har mindre plats på skärmen ska man inte ha lika stor margin.*/
}
