*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  transition: all 750ms;
}
/* Övergångar 750ms är för att det ska se bättre ut när @media används.*/

nav{
  background-color: rgba(50,50,50,80%);
  padding-top: 20px;
  padding-bottom: 20px;
}
/* <nav>'s grå bakgrundsfärg och padding som gör den större lodrätt.*/

body{
  background-image: url(img/bakgrund.webp);
  background-size: cover;
  background-position: 36% 0%;
  background-repeat: no-repeat;
}
/* Hemsidans bakgrundsbild som tar hela sidans storlek, inte upprepas och jag ändrade positionen på den så att den syns men samtidigt inte stör de andra elementer med sina ljusa färger.*/

h1{
  display: none;
}
/* Jag använde en bild som ett heading, därför gör jag en osynlig heading för att få ett bättre tillgänglighet.*/

figure{
  overflow-x: auto;
  height: 300px;
  display: flex;
  grid-column-gap: 5px;
}
/* Allt som inte får plats får skrollas vågrätt, flex ordnar alla bilder vågrätt och det finns 5px mellanrum mellan bilderna.*/

figure img{
  height: 250px;
  transition: 1s all 0.1s;
  max-width: 100%;
}
/* Gav höjden på bilderna 250px som är mindre än 300px, så att de har plats att bli större, alla övergångar sker efter 0.1 sekund och varar 1 sekund. Max-width säger att hela bilden ska alltid få plats på sidan.*/

figure img:hover{
  height: 100%;
  width: auto;
}
/* När man har musen över en av bilderna, blir höjden 300px och på så sätt zoomas den in.*/

footer{
  background-color: rgba(50,50,50,80%);
  font-family: monospace, sans-serif;
  padding: 40px;
}
/* Footer har grå bakgrundsfärg, en annan font och padding som gör footer större lodrätt samt flyttar texten lite från kanten.*/

aside{
  border-left: 10px solid white;
  padding-left: 10px;
  font-family: 'Poppins';
  text-shadow: 1px 1px black;
}
/* Citaterna har en vit kontur på vänstra sidan, 10px avstånd mellan texten och konturen, en annan font och en liten skugga bakom texten.*/

article{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px black;
}
/* Texten har samma font som citaterna, storlek på 18px och en skugga bakom. */

#ommig, #se, #toppen{
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  background-color: rgb(50, 50, 50);
  height: 30px;
  padding: 4px 7px;
  box-shadow: 1px 1px 5px 0px black;
  text-decoration: none;
}
/* Knapparna "Se Breaking Bad", "Om mig" och "Till toppen" har rundare kanter, grå bakgrundsfärg, höjden på 30px som även gör att länkarna under "Se Breaking Bad" får inte plats, padding gör knappen större, har skuggan bakom sig och är inte understrukna som de är från början.*/

#ommig{
  width: 80px;
}
/* Bredden på "Om Mig" knappen. */

#se{
  overflow: hidden;
  width: 150px;
}
/* Bredden på "Se Breaking Bad" och att länkar som får inte plats syns inte.*/

#ommig:hover{
  color: rgb(0, 200, 60);
}
/* Texten på "Om Mig" knappen ändrar sin färg till grön när man har musen över den.*/

#se:hover{
  padding-bottom: 110px;
}
/* När man har musen över knappen "Se Breaking Bad" ökar padding som gör att det finns plats för länkarna att synas.*/

#se p:hover{
  color: rgb(0, 200, 60);
}
/* Texten på knappen "Se Breaking Bad" ändrar sin färg till grön när man har musen över den.*/

#toppen:hover{
  color: rgb(0, 200, 60);
}
/* Färgen ändras till grön när musen ligger över knappen "Till toppen".*/

li{
  font-size: 15px;
  box-shadow: 0 2px 4px black;
  border-left: 2px solid white;
  padding-left: 5px;
  transition: all 250ms;
}
/* Länkarna har mindre storlek på texten, svart skugga bakom, en vit kontur till vänster, ligger längre från kanten med padding och ändrar färg på 250ms.*/

#netflix:hover{
  box-shadow: 0 2px 4px red;
  border-left-color: red;
}
/* När man har musen över Netflix, ändras konturens- och skuggans färg till röd.*/

#prime:hover{
  box-shadow: 0 2px 4px royalblue;
  border-left-color: royalblue;
}
/* När man har musen över Prime Videos, ändras konturens- och skuggans färg till blå.*/


#apple:hover{
  box-shadow: 0 2px 4px white;
}
/* När man har musen över Netflix, ändras skuggans färg till vit.*/
